<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<form action="/answer">
  <input type="text" name="answer" placeholder="What ur question for coach?">
  <input type="submit" value="Ask here">
</form
